<li>
	{{name}}

	<button class="change-eatstatus" data-id="{{id}}" data-newsleep="{{devour}}">
		{{#if devour}}SLEEP TIME!{{else}}DEVOUR!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
