<li>
	{{burger_name}}

	<button class="change-eatstatus" data-id="{{id}}" data-newdevour="{{devoured}}">
		{{#if devoured}}EAT AGAIN!{{else}}DEVOUR!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
