<li>
	{{burger_name}}

	<button class="change-eatstatus myButton" data-id="{{id}}" data-newdevour="{{devour}}">
		{{#if devour}}EAT AGAIN!{{else}}DEVOUR!{{/if}}
	</button>

	<button class="delete-burger myButton" data-id="{{this.id}}">DELETE!</button>
</li>
